<ion-header>
  <ion-toolbar>
    <ion-title>main</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>Usuario:</ion-row>

    <ion-row class="estados">
      <ion-col>
        estado 1
      </ion-col>
      <ion-col>
        estado 2
      </ion-col>
    </ion-row>


    <ion-row (click)="recibe()">
      Recibe los parametros
      <!--app-display></app-display-->
    </ion-row>

    <ion-row class="botones">
      <ion-col (click)="run()">
        Arranque
      </ion-col>
      <ion-col (click)="getData()">
        Reset
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>


<!--ion-item>
  <ion-label>Gaming</ion-label>
  <ion-select interface="popover">
    <ion-select-option value="nes">NES</ion-select-option>
    <ion-select-option value="n64">Nintendo64</ion-select-option>
    <ion-select-option value="ps">PlayStation</ion-select-option>
    <ion-select-option value="genesis">Sega Genesis</ion-select-option>
    <ion-select-option value="saturn">Sega Saturn</ion-select-option>
    <ion-select-option value="snes">SNES</ion-select-option>
  </ion-select>
</ion-item-->