<ion-header class="user">
  <ion-toolbar>
    <ion-title>Usuario: {{ user }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="container-p">
  <ion-grid class="container">

    <ion-row class="estatus">
      <ion-col>
        <div class="circulo" id="ande"></div>
        <div class="ande">Ande</div>
      </ion-col>
      <ion-col>
        <div class="circulo" id="generador"></div>
        <div class="generador">Generador</div>
      </ion-col>
    </ion-row>


    <ion-row class="display">
      <!-- <app-display></app-display> -->
      <div id="display" (click)="recibe()">
        <p>
          0.0 A
        </p>
      </div>
    </ion-row>

    <ion-row class="buttons">
      <ion-col (click)="run()">
        <div class="on">
          <ion-button color="light">Success</ion-button>
        </div>
      </ion-col>
      <ion-col (click)="getData()">
        <ion-item>
          <!-- <ion-label>Reset</ion-label> -->
          <ion-select value="dog">
            <ion-select-option value="cat">Combustible</ion-select-option>
            <ion-select-option value="dog">Stop</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>