<ion-header class="user">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Usuario: {{ user }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="container-p">
  <ion-grid class="container">

    <ion-row class="estatus">
      <ion-col>
        <div class="ande-on" *ngIf="status_ande && !status_generador;else ande_off">
          <img src="assets/images/electricidad-on.png" width="80">
        </div>

        <ng-template #ande_off>
          <div class="ande-off">
            <img src="assets/images/electricidad-off.png" width="80">
          </div>
        </ng-template>

        <div class="ande">Ande</div>
      </ion-col>

      <ion-col>
        <div class="generador-on" *ngIf="!status_ande && status_generador;else generador_off">
          <img src="assets/images/generador-on.png" width="70">
        </div>>

        <ng-template #generador_off>
          <div class="generador-off">
            <img src="assets/images/generador-off.png" width="70">
          </div>
        </ng-template>
        <div class="generador">Generador</div>
      </ion-col>
    </ion-row>


    <ion-row class="display">
      <app-display></app-display>
    </ion-row>

    <ion-row class="buttons">
      <ion-col size="3">
        <div>
          <app-toggle-button [option]="'start'">
          </app-toggle-button>
          <ion-title class="button-title" name="btn-start">Start</ion-title>
        </div>
      </ion-col>

      <ion-col size="6" class="ion-text-center">
        <div>
          <app-toggle-button id="boton" [option]="data" (mousedown)="manual_on($event)" (mouseup)="manual_off($event)"></app-toggle-button>
          <ion-title class="button-title" name="btn-manual">A. Manual({{ estado }})</ion-title>
        </div>
      </ion-col>

      <ion-col size="3" class="ion-text-end">
        <div>
          <app-toggle-button [option]="'reset'"></app-toggle-button>
          <ion-title class="button-title" name="btn-reset">Reset</ion-title>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>